a:hover {  color: #00FFFF; text-decoration: none; background-color: #000000}
a:visited {  text-decoration: none}
a:link {  text-decoration: none}
a:link {  }
.menu {  font-weight: bold; color: #0099CC; text-decoration: none}
